:root {
  --t: transparent;

  --cuerpo_circular-1: #f3b6dc;
  --cuerpo_circular-2: #f0a4cb;
  --cuerpo_circular-3: #f990b3;
  --cuerpo_circular-4: #ea789c;
  --cuerpo_circular-5: #fd58b0;

  --eye-1: #ffffff;
  --eye-2: #2155e4;
  --eye-3: #0c1637;
  --eye-4: #030303;
  
  --boca_abierta-1: #d12932;
  --boca_abierta-2: #44030b;
  --boca_abierta-3: hsla(0, 0%, 100%, 0.08);
  --boca_abierta-4: hsla(356, 78%, 43%, 1);

  --feet-1: #f12d58;
  --feet-2: #9e0231;
  --feet-3: #860727;
  --feet-4: #f3315b;

  --shadow: hsla(0, 0%, 23%, 0.5);
}

.Kirby {
  width: 500px;
  height: 500px;
  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
}

.cuerpo_circular {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.brazo_izquierdo,
.brazo_derecho,
.pie_izqui,
.pie_dere,
.rubor,
.cuerpo_circular,
.ojo_izquierdo,
.ojo_derecho {
  position: absolute;
}

.ojo_derecho {
  width: 45px;
  height: 106px;
  top: 81px;
  left: 261.5px;
  background: var(--eye-4);
  border-radius: 50%;
  transform: rotate(-5deg);
}
.ojo_derecho::before {
  content: "";
  display: block;
  width: 32px;
  height: 67px;
  top: 34px;
  left: 6px;
  background: linear-gradient(to top, var(--eye-2) 10%, var(--eye-3) 30%);
  border-radius: 50%;
  margin-top: 35px; 
  margin-left: 7px; 
}

.ojo_derecho::after {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  background: radial-gradient(
      100% 100% at 50% 50%,
      var(--eye-1) 49%,
      var(--t) 50%
    )
    50% 11% / 24px 37px,
    radial-gradient(100% 100% at 50% 50%, var(--eye-2) 49%, var(--t) 50%) 50%
    7% / 31px 44px,
    radial-gradient(100% 100% at 50% 50%, var(--eye-4) 49%, var(--t) 50%) 50%
    58% / 35px 45px;
  background-repeat: no-repeat;
  filter: blur(0.5px);
  border-radius: 50%;
  margin-top: -100px; 
  margin-left: -1px; 
}


.ojo_izquierdo {
  width: 44px;
  height: 102px;
  top: 88px;
  left: 176px;
  background: var(--eye-4);
  border-radius: 50%;
  transform: rotate(0deg);
}
.ojo_izquierdo::before {
  content: "";
  display: block;
  width: 32px;
  height: 67px;
  background: linear-gradient(to top, var(--eye-2) 10%, var(--eye-3) 30%);
  border-radius: 50%;
  margin-top: 32px; 
  margin-left: 5px; 
}

.ojo_izquierdo::after {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  background: radial-gradient(
      100% 100% at 50% 50%,
      var(--eye-1) 49%,
      var(--t) 50%
    )
    50% 11% / 24px 37px,
    radial-gradient(100% 100% at 50% 50%, var(--eye-2) 49%, var(--t) 50%) 50%
    7% / 31px 44px,
    radial-gradient(100% 100% at 50% 50%, var(--eye-4) 49%, var(--t) 50%) 50%
    58% / 39px 45px;
  background-repeat: no-repeat;
  filter: blur(0.5px);
  border-radius: 50%;
  margin-top: -96px; 
  margin-left: -1px;
}


.rubor {
  width: 54px;
  height: 41px;
  top: 175px;
  left: 109px;
  background: var(--cuerpo_circular-5);
  border-radius: 50%;
  filter: blur(2px);
  box-shadow: 217px -10px 2px 0 var(--cuerpo_circular-5);
}

.boca_abierta {
  width: 62px;
  height: 53px;
  top: 193px;
  left: 214px;
  background: var(--boca_abierta-2);
  clip-path: path(
    "M 32,1 C 57,2 70,12 50,39 C 48,41 34,60 17,44 C -12,15 3,2 32,1"
  );
}
.boca_abierta::after {
  content: "";
  display: block;
  width: 62px;
  height: 53px;
  background: radial-gradient(
      100% 100% at 50% 50%,
      var(--boca_abierta-4),
      var(--boca_abierta-1) 49%,
      var(--t) 50%
    )
    50% 93% / 61px 30px;
  background-repeat: no-repeat;
  transform: rotate(-2deg);
  filter: blur(0.5px);
}

.cuerpo_circular {
  width: 365px;
  height: 358px;
  top: 25px;
  left: 64px;
  background: radial-gradient(
      100% 100% at 50% 50%,
      var(--cuerpo_circular-1) 25%,
      var(--cuerpo_circular-2),
      var(--cuerpo_circular-4) 49%,
      var(--t) 50%
    )
    80% 83% / 355px 358px;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 15px 5px var(--shadow));
}

.brazo_izquierdo {
  width: 140px;
  height: 110px;
  top: 154px;
  left: 17px;
  background: radial-gradient(
    at 20% 30%,
    var(--cuerpo_circular-2) 5%,
    var(--cuerpo_circular-3),
    var(--cuerpo_circular-5)
  );
  border-radius: 50%;
  transform: rotate(-32deg);
}
.brazo_derecho {
  width: 125px;
  height: 135px;
  top: 87px;
  left: 360px;
  background: radial-gradient(
    at 50% 30%,
    var(--cuerpo_circular-1) 5%,
    var(--cuerpo_circular-2),
    var(--cuerpo_circular-4) 60%
  );
  border-radius: 50%;
  filter: drop-shadow(0px 5px 10px var(--shadow));
}

.pie_dere {
  width: 150px;
  height: 230px;
  top: 235px;
  left: 250px;
  background: radial-gradient(
    circle at 50% 75%,
    var(--feet-1) 10%,
    var(--feet-2) 50%
  );
  border-radius: 50%;
  background-repeat: no-repeat;
  transform: rotate(12deg);
}

.Kirby:first-child {
  background-color: yellow;
}

.Kirby:last-child {
  background-color: rgb(255, 255, 255);
}

.Kirby:nth-child(3) {
  background-color: orange;
}

.brazo_izquierdo.pie_izqui {
  background-color: purple;
}

.pie_izqui {
  width: 210px;
  height: 150px;
  top: 252px;
  left: 30px;
  background: radial-gradient(at 40% 45%, var(--feet-2), var(--feet-1));
  border-radius: 50%;
  transform: rotate(41deg);
  filter: drop-shadow(3px -2px 4px var(--shadow));
}
.pie_izqui::before {
  content: "";

  width: 213px;
  height: 151px;
  background: radial-gradient(
      100% 100% at 50% 50%,
      var(--feet-4) 45%,
      var(--t) 45%
    )
    25% 201% / 75px 30px,
    radial-gradient(100% 100% at 50% 50%, var(--feet-3) 45%, var(--t) 55%) 55%
    85% / 190px 95px;
  background-repeat: no-repeat;
  border-radius: 45%;
  filter: blur(12px);
}

.cuerpo_circular + .Kirby {
  margin-top: 20px;
}

.ojo_izquierdo ~ .ojo_derecho {
  margin-top: 5px;
}

.Kirby > .brazo_izquierdo {
  background: radial-gradient(
    at 20% 30%,
    var(--cuerpo_circular-2) 7%,
    var(--cuerpo_circular-3),
    var(--cuerpo_circular-5)
  );
}